.container {
  margin-top: -110px;
}

.InChCrStContinue {
  font-size: 20px;
}

.SeChCrStPlaylist:active {
  font-weight: bold;
  background-color: #3e6768;
}

.space {
  width: 5vw;
}

.ripple {
  background-position: center;
  transition: background 0.5s;
}

.ripple:hover {
  background: var(#000000)
    radial-gradient(circle, transparent 1%, var(#ffffff) 1%) center/15000%;
}

.ripple:focus {
  background-color: var(#555555);
  background-size: 100%;
  transition: background 0s;
}

@media (max-width: 415px) {
  .container {
    margin-top: -75px;
  }
  .InChCrStContinue {
    font-size: 3vw;
    padding: 15px 0;
    margin-top: 2px;
  }
  .signature {
    padding-top: 20px;
  }
  .sn {
    font-size: 12px;
  }
}
