<app-navbar></app-navbar>
<div class="background">
	<div class="container center">

    <div class="headline col-12">
      <div class="row">
        <h1 class="SeChCrH1 col-7">Choose playlists to split into</h1>
        <div class="space"></div>
        <button class="InChCrStContinue btn col-3" *ngIf="playlistID" routerLink="/confirm" (click)="setPlaylistIDs()">Continue</button>
      </div>
    </div>
    
		<div class="row center"> 
			<div *ngFor="let playlist of playlists">
				<div class="col-12 center">
					<button class="SeChCrStPlaylist btn ripple" (click)="addPlaylistID($click, playlist.id)">{{playlist.name}}</button>
				</div>
			</div>
    </div>
    
  </div> 
  <div class="signature footer">
    <h6 class="text-muted sn">Created by Shisan Nafiz</h6>
    <img class="cheese" src="../../../assets/cheese-512.png">
  </div>
</div>