.container {
  margin-top: -110px;
}

.top {
  margin-top: 5vh;
}

h1 {
  font-size: 50px;
  padding-right: 100px;
  font-family: "Raleway", serif;
}

hr {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.InChCrStContinue {
  font-size: 20px;
}

.signature {
  padding-top: 20px;
}

.right {
  margin: 10px 0;
}

.left {
  margin: 10px 0;
}

.space {
  width: 5vw;
}

@media (max-width: 415px) {
  .container {
    margin-top: -75px;
  }
  .top {
    margin-top: 0;
  }
  h1 {
    font-size: 20px;
    padding: 0;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .col-6 {
    max-width: 100%;
  }
  .left {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .right {
    text-align: center;
    margin: 0;
  }
  .playlist {
    font-size: 18px;
    margin: 10px 0;
  }
  br {
    height: 0%;
  }
  .InChCrStContinue {
    font-size: 3vw;
    padding: 15px 0;
    margin-top: 2px;
  }
  .signature {
    padding: 5px 0 60px 0;
    font-size: 12px;
  }
}
