<app-navbar></app-navbar>
<div class="center background cont">
  <div class="row">
    <div class="player col-md-8">
      <div class="row">
        <div class="col-6 nopad">
          <h4>Playing from</h4>
          <h5>{{ name }}</h5>
          <div class="media">
            <img *ngIf="cover" class="cover" src="{{ cover }}" alt="ALBUM COVER"/>
            <img *ngIf="!cover" class="cover" src="../../../assets/Pulse.gif" alt="ALBUM COVER"/>
          </div>
        </div>

        <div class="col-6 left nopad">
          <h1>{{ title }}</h1>
          <h2>{{ artist }}</h2>
          <h2>{{ album }}</h2>

          <div class="desktop seeker col-12">
            <div class="progress">
              <div
                class="progress-bar progress-bar-animated accent"
                role="progressbar"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: timer + '%' }"
              ></div>
            </div>
          </div>
          <div class="desktop controls center col-12">
            <i class="material-icons rew" (click)="replay()">replay</i>
            <i
              class="material-icons pp"
              (click)="play()"
              [ngStyle]="{ display: playbutton }"
              >play_circle_filled</i
            >
            <i
              class="material-icons pp"
              (click)="pause()"
              [ngStyle]="{ display: pausebutton }"
              >pause_circle_filled</i
            >
            <i class="material-icons skip " (click)="next()">skip_next</i>
          </div>
        </div>
      </div>

      <div class="mobile seeker col-12 nopad">
        <div class="progress">
          <div
            class="progress-bar progress-bar-animated accent"
            role="progressbar"
            style="height: 500px"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: timer + '%' }"
          ></div>
        </div>
      </div>
      <div class="mobile icons center col-12 ">
        <i class="material-icons rew" (click)="replay()">replay</i>
        <i
          class="material-icons pp"
          (click)="play()"
          [ngStyle]="{ display: playbutton }"
          >play_circle_filled</i
        >
        <i
          class="material-icons pp"
          (click)="pause()"
          [ngStyle]="{ display: pausebutton }"
          >pause_circle_filled</i
        >
        <i class="material-icons skip " (click)="next()">skip_next</i>
      </div>
    </div>

    <div class="playlists center col-md-4">
      <div class="">
        <div class="center row">
          <h3>Playlists</h3>
        </div>

        <div class="desktop center row">
          <div class="done btn" routerLink="/review" (click)="done()">Done</div>
        </div>

        <div class="scrollable col-12">
          <div *ngFor="let playlist of playlists">
            <div class="center">
              <div class="playlist btn" (click)="add($click, playlist.id, uri)">
                {{ playlist.name }}
              </div>
            </div>
          </div>
        </div>

        <div class="mobile center row">
          <div class="done btn" routerLink="/review" (click)="done()">Done</div>
        </div>
      </div>
    </div>
  </div>

  <div class="signature footer">
    <h6 class="sn text-muted">Created by Shisan Nafiz</h6>
    <img class="cheese" src="../../../assets/cheese-512.png" />
  </div>
</div>
