img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

h3 {
    padding: 65px 0 20px 0; 
    margin-bottom: 0; 
    font-size: 1.2vw; 
    font-weight: bolder;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h4 {
    padding: 15px;
    margin-bottom: 0;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h5 {
    color: #b3b3b3;
    padding: 15px;
    margin-bottom: 0;
    font-size: 1.3vw;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.information {
    padding: 10px 40px 0 40px;
    margin-right: 0px;
}

.info {
    padding: 20px;
}

.player {
    background-color: #2e3238;
    padding-top: 20px;
}

.controls {
    padding: 40px 0 0 0;
}

.playlists {
    background-color: #2e3238;

}

.btn-secondary:hover {
    background-color: #465a5b;
}

.accent{
    background-color: #719192;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    align-items: center; 
    justify-content: center;
}

.icon {
    font-size: 45px;
}

.lefticons {
    padding: 3px 20px;
}

.seeker {
    padding: 18px 0;
}

.righticons {
    padding: 3px 20px;
}

.playlist {
    width:90%; 
    font-size: 1.5vw; 
    margin: 12px 0; 
    padding: 12px 0; 
    font-weight: 400;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.scrollable {
    overflow-y: auto;
    height: 70vh;
}
