.container {    
    margin-top: -110px;
 }

.col-4 {
    max-width: 25%;
}

.InChCrStContinue {
    font-size: 20px; 
    margin-left: 15px;
}

.textbox {
    padding-right: 0;
    padding-left: 30px;
}

.input {
    width: 100%; 
    height: 50px
}

.add {
    padding-right: 30px;
    padding-left: 0;
}

.plus {
    width: 100%;
    background-color: #62a183;
    background-position: center;
    transition: background 0.5s;
}

.plus:hover {
    background-color: #4e8269
    radial-gradient(circle, transparent 1%, #4e8269 1%) center/15000%;
}

.plus:active {
    background-color: #3e6854;
    background-size: 100%;
    transition: background 0s;
}

/* .ripple {
    background-position: center;
    transition: background 0.5s;
} */

/* .ripple:hover {
    background: #62a183 
    radial-gradient(circle, transparent 1%, #4e8269 100%) center/15000%;
} */

/* .ripple:active {
    background-color: #3e6854;
    background-size: 100%;
    transition: background 0s;
} */

.icon {
    margin-top: 5px;
}

.playlists {
    padding-top: 20px;
}

.space {
    width: 5vw;
  }

@media (max-width: 415px) {
    .container {
        margin-top: -75px;
     }
    .col-1 {
        max-width: 25%;
    }
    .col-2 {
        max-width: 50%;
    }
    .col-3 {
        /* max-width: 50%;
        flex: 0 0 100%; */
    }
    .col-4 {
        max-width: 55%;
        flex: 0 0 100%;
    }
    h1 {
        font-size: 25px;
        margin-left: 10px;
    }
    .InChCrStContinue {
        font-size: 3vw;
        padding: 15px 0;
        margin-top: 5px;
    }
    .textbox {
        padding-right: 0;
        padding-left: 9px;
    }
    .input {
        width: 115%;
        height: 46px;
    }
    .add {
        margin-right: 35px;
    }
    .plus {
        width: 150%;
        margin-left: 9px;
        /* margin-right: 0; */
        /* height: 38px; */
        /* margin-top: .5px; */
        padding-top: 9px;
        padding-bottom: 3px;
    }
    .icon {
        margin-top: 0;
    }
    .SeChCrStPlaylist {
        width: 295px;
        margin-right: 15px;
    }
    .space {
        width: 0;
    }
    .signature {
        padding-top: 20px;
    }
    .sn {
    font-size: 12px;
    }
}