<app-navbar></app-navbar>
<div class="background">
	<div class="container center">
    <div class="headline col-12">
      <div class="row">
        <h1 class="SeChCrH1 col-7">Create playlists to split into</h1>
        <div class="space"></div>
        <button class="InChCrStContinue btn col-3" *ngIf="count" routerLink="/confirm" (click)="setCount()">Continue</button>
      </div>
    </div>
		<div class="row center"> 
      <div class="col-4 textbox">
          <input class="input form-control" [(ngModel)]="name" type="text" placeholder="Enter a name..">
      </div>
      <div class="col-1 add">
        <button class="plus btn ripple" (click)="createPlaylist()"><i class="icon material-icons">add</i></button>
      </div>
		</div>
		<div class="col-12 center playlists"> 
			<div *ngFor="let playlist of playlists">
				<div class="row center">
					<button class="SeChCrStPlaylist btn" (click)="getPlaylistID($click, playlist.id, playlist.name)">{{playlist.name}}</button>
				</div>
      </div>
    </div>
    <div class="signature footer">
      <h6 class="text-muted sn">Created by Shisan Nafiz</h6>
      <img class="cheese" src="../../../assets/cheese-512.png">
    </div>
	</div>
</div>
