<app-navbar></app-navbar>
<div class="background">
  <div class="container center">

    <div class="headline col-12">
      <div class="row">
        <h1 class="SeChCrH1 col-6">Select a playlist to split</h1> 
        <div class="space"></div>
        <button class="InChCrStContinue btn col-2" *ngIf="playlistID" routerLink="/create" (click)="setPlaylistInfo()">Create Playlists</button>
        <div class="space"></div>
        <button class="InChCrStContinue btn col-2" *ngIf="playlistID" routerLink="/choose" (click)="setPlaylistInfo()">Choose Playlists</button>
      </div>
    </div>
    
    <div class="row center"> 
      <div *ngFor="let playlist of playlists">
        <div class="col-12 center">
          <button class="SeChCrStPlaylist btn " (click)="getPlaylistInfo($click, playlist.id, playlist.name)">{{playlist.name}}</button>
        </div>
      </div>
    </div>

    <div class="signature footer">
      <h6 class="sn text-muted">Created by Shisan Nafiz</h6>
      <img class="cheese" src="../../../assets/cheese-512.png">
    </div>
  </div> 
</div>
