h1,
h2,
p {
  font-family: "Raleway", serif;
}

.cont {
  width: 540px;
  margin-left: 50px;
  margin: 30px 0;
  text-align: center;
}

h1 {
  font-size: 25px;
  display: inline;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 30px 20px 10px 0;
}

p {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #b3b3b3;
}

.InChCrStContinue {
  margin: 30px 0 0 0;
}

.splitify {
  font-weight: bold;
  color: #62a0a1;
}

.right {
  text-align: right;
}

@media (max-width: 767px) {
  p {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .cont {
    padding: 0 50px;
    margin-top: 15px;
  }
  h1 {
    font-size: 13px;
    padding: 0;
  }
  h2 {
    font-size: 16px;
    padding: 0 15px 0 0;
  }
  p {
    font-size: 11px;
  }
  .signature {
    padding: 30px 0 60px 0;
    font-size: 10px;
  }
  .InChCrStContinue {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .sn {
    font-size: 12px;
  }
}
