<div class="bg">
	<div class="container">
		<div class="row ">
			<div class="col-12 headline">
				<div class="row">
					<div class="col-2"></div>
					<h1>Select </h1>
				</div>
				<div class="row">
					<div class="col-2"></div>
					<p class="col-10">Select a master playlist to split up into specific playlists</p>
        </div>
        	
				<div class="row">
					<div class="col-2"></div>
					<h1 class="col-10">Create or Choose</h1>
        </div>
        <div class="row">
					<div class="col-2"></div>
					<p class="col-10">Create new playlists or choose old playlists to split master playlist into</p>
        </div>
				<!-- <div class="row">
					<div class="col-2"></div>
					<h1>Create</h1><p> new playlists or</p> <h1>choose</h1><p>old playlists to split the master playlist into</p>
				</div> -->
				<div class="row">
					<div class="col-2"></div>
					<h1 class="col-10">Split</h1>
				</div>
				<div class="row">
					<div class="col-2"></div>
					<p class="col-10">Pick playlists to add current playing song to</p>
        </div>
        <div class="col-12 headline">
					<div class="row center">
						<button class="start btn btn-primary col-3" routerLink="/select">Start</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>