.background {
  background-color: #1a2029;
}

.font {
  font-family: 'Raleway', serif;
}

.accent {
  background-color: #62a0a1;
}

.headline {
  font-family: 'Raleway', serif;
  margin: 150px 0 40px 0;
  }

.SeChCrH1 {
  font-size: 40px;
  font-weight: bold;
  padding-right: 0;
}

.SeChCrStPlaylist {
  font-size: 20px; 
  width: 320px; 
  margin: 15px 0;
  background-color: #62a0a1;
  border-color: #445959;
}

.SeChCrStPlaylist:hover {
  background-color: #4e8182;
}

.InChCrStContinue {
  width: 100%; 
  height: 100%;
  padding: 10px 0;
  font-family: 'Raleway', serif;
  background-color: #3d4c62;
  border-color: #37414f;
}

.InChCrStContinue:hover {
  background-color: #313d4e;
}

.InChCrStContinue:focus {
  background-color: #27313e;
}

.listplay {
  font-size: 20px; 
  width: 320px; 
  margin: 15px 0;
  background-color: #62a0a1;
  border-color: #445959;
}

.listplay:hover {
  background-color: #4e8182;
}

.listplay:focus {
  font-weight: bold;
  background-color: #4e8182;
}

.signature {
  text-align: center; 
  padding: 40px 0;
}

.sn {
  font-size: 15px;
  margin-bottom:8px; 
}

.cheese {
  height: 24px; 
  width: 24px;
}

.nopad {
  padding: 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left
}

.center {
  text-align: center;
  align-items: center; 
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
background: #151a21;
}

::-webkit-scrollbar-thumb {
background: #212833;
}

::-webkit-scrollbar-thumb:hover {
background: #293240;
}

@media (max-width : 415px) {
  .headline {
    margin: 90px 0 20px 0;
  }
  .SeChCrH1 {
    font-size: 6vw;
    margin-left: 10px;
    padding: 0;
  }
  .SeChCrStPlaylist {
    margin: 10px 0;
    font-size: 4vw;
  }
  .sn {
    font-size: 12px;
}
}